# Компільовані файли
*.class

# Лог-файли
*.log

# Каталоги для збірки
/target/
/out/

# Налаштування IDE
.idea/
*.iml
.classpath
.project
.settings/

.mvn/**

# Файли операційної системи
.DS_Store
Thumbs.db
